name: EPG xmlstarlet

on:
  #schedule:
    #- cron: '30 12 * * * ' # Courir à 00h30 (noter l'heure d'été/d'hiver)
  workflow_dispatch:
permissions:
   contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Récupération du référentiel
      uses: actions/checkout@v4

    - name: Installer les dépendances xmlstarlet
      run: |
        sudo apt-get update && sudo apt-get install -y xmlstarlet gzip wget perl

    - name: Rendre le script exécutable
      run: |
        # chmod +x ${{ github.action_path }}/script_epg.sh
        chmod +x ${GITHUB_WORKSPACE}/b01/script_epg.sh

    - name: Exécuter le script
      run: | 
       ${GITHUB_WORKSPACE}/b01/script_epg.sh

    - name: Compresser les xml en xml.gz et supprimer les xml
      run: |
          if [ -f EPG_final.xml ]; then
            gzip -f EPG_final.xml
          fi
          if [ -f epg_accumuler.xml ]; then
            gzip -f epg_accumuler.xml
          fi

    - name: Valider et envoyer les modifications
      run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add -A
          ls -la 
          git commit -m "Dernière actualisation" # github.com/BG47510
          git push origin main
