name: Génération EPG

on:
  schedule:
    - cron: "0 2 * * *"   # Tous les jours à 02:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout du dépôt"
        uses: actions/checkout@v5

      - name: "Installer xmlstarlet"
        run: |
          sudo apt-get update
          sudo apt-get install -y xmlstarlet
      
      - name: "Rendre le script exécutable"
        run: chmod +x "${GITHUB_WORKSPACE}/b01/script_epg.sh"

      - name: "Exécuter le script"
        run: |
          cd "${GITHUB_WORKSPACE}/b01"
          ./script_epg.sh
      
      - name: "Vérifier epg.xml"
        run: |
          if [ ! -f "${GITHUB_WORKSPACE}/b01/epg.xml" ]; then
            echo "ERREUR : epg.xml n'a PAS été généré"
            exit 1
          fi
          
      - name: "Upload epg.xml comme artefact"
        uses: actions/upload-artifact@v4
        with:
          name: epg
          path: b01/epg.xml
          retention-days: 7
          if-no-files-found: ignore

  retrieve_artifact:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: "Télécharger l'artefact"
        uses: actions/download-artifact@v4
        with:
          name: epg  # Même étiquette que l'upload
          path: b01  # Spécifiez que l'artefact sera téléchargé dans le dossier b01
